@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply cursor-pointer hover:underline;
  }

  .button {
    @apply p-2 text-xs md:text-sm bg-gradient-to-b from-teal-700 to-teal-900 border border-teal-500 rounded-sm 
            focus:outline-none focus:ring-2 focus:ring-teal-200 active:from-teal-900;
  }
}
